{% extends 'layout.html' %}

{% block content %}    
        
    

                   
<div class=" container  ">
                
    <div class="row">   
                <div class="col-3 mx-auto" style="width: 300px;"">

                        <form method ="get" class=" d-flex"> 
                            <input class="form-control me-2" name="buscar" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                        </form>
                </div>
                
            
                <main class=" col-12  pb" style="height:610px;">
                      <form class="container" action="">
                        <div>
                            
                        </div>  
                      </form>
                    <table class="table table-striped border border-3">
                            <thead class="table-dark text-center">
                                <h2 class="container form-control btn-dark text-center p-2">Hospedajes</h2>
                                <tr class="">
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Cedula</th>                
                                    <th>Empresa</th>                                                
                                    <th>Fecha de entrada</th>
                                    <th>Fecha de salida</th>
                                    <th>Numero Habitacion</th>    
                                    <th>Recepcionista</th>
                                    <th>Acción</th>                
                                                  
                                </tr> 
                            </thead>
                            <tbody>
                                    {% for entrys in entry %} 
                                        <tr>
                                    
                                            <td class="table-secondary text-center">{{ entrys.client.name}} </td>
                                            <td class="table-secondary text-center">{{ entrys.client.last_name}}  </td>
                                            <td class="table-dark text-center">{{ entrys.client.document_number}}</td>
                                            <td class="table-dark text-center">{{ entrys.client.company}}</td>                                            
                                            <td class="table-dark text-center">{{entrys.entry_at}}</td>
                                            <td class="table-dark text-center">{{entrys.exit_at}}</td>
                                            <td class="table-dark text-center"> <i class='fas fa-door-closed'></i> {{ entrys.room.room_number}}</td>
                                            <td class="table-dark text-center">{{entrys.receptionist.first_name}} {{entrys.receptionist.last_name}}</td>
                                            <td class="table-dark text-center">
                                                {% if entrys.guest_exit == 'Si'%} 
                                                <a  title="Huesped de alta" class="btn"  style="background-color: #F3E9C8;"> 
                                                    <i class='fas fa-check-square'></i>
                                                </a>
                                                {% else %}
                                                <a href="{% url 'Editarhospedaje' entrys.id %}" title="Editar Hospedaje" class="btn"  style="background-color: #F3E9C8;"> 
                                                    <i class='fas fa-edit'></i>
                                                </a>
                                                {% endif %}
                                            </td>                                     
                                            
                                                    
            
                                        
                                        </tr>
                                    {% endfor %}   
                            </tbody>    
                    </table>
                    <div> {%  include 'booking/paginator.html' %} </div> 
                </main>

          
            
    </div>
</div>
    
{% endblock %}