{% extends 'layout.html' %}

{% block content %}
                                 
<div class="row g-0 bg-light position-relative ">
        

        <div id="carouselExampleFade" class="carousel slide carousel-fade col-md-6 mb-md-0 p-md-4 container" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/img/hotel-premier.jpg" width=" 945" class="my-4 rounded" alt=""  >
                </div>
                <div class="carousel-item">
                    <img src="static/img/hotel-comedor.jpg"  width=" 945" class="my-4" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/img/hotel-habitacion.jpg" width=" 945" class="my-4" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/img/hotel-habitacion2.jpg"  width=" 945" class="my-4" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
        </div>

        <div class="col-md-6 p-4 ps-md-0 my-4">
            <h5 class="mt-0">Hotel Premier</h5>
            <p align="justify">Nuestro hotel esta ubicado en la ciudad de El Tigre, en el estado Anzoategui. Le ofrecemos al publico en general,
               a pesar de que la mayoría de nuestros huéspedes  son empresarios o profesionales que laboran temporal o
               permanentemente en empresas de la zona, un servicio de hospedaje integral,con la atención altamente personalizada
               y de ameno trato hacia nuestros huéspedes, teniendo como fin que su estadía sea mas familiar, mas en confianza
               pero con el trato profesional, con la calidad y buen servicio de altura, mezclando lo mejor de las características
               que un hotel boutique y un hotel de cadena puedan ofrecer.</p>
            
            <h5 class="mt-0">Instalaciones</h5>
            <p  align="justify">Nuestras instalaciones son de reciente construcción (Mayo 2013 1ra Etapa y Noviembre 2015 2da Etapa) y constan de dos
               edificios conectados por una terraza techada y arropa 66 habitaciones clasificadas en varios tipos y precios: 4 individuales con cama King y estar
               6 dobles con cama Matrimonial, 56 individuales con cama Queen.Adicionalmente contamos con los servicios de piscina, restaurante, lavandería,
               servicio a la habitación, Internet inalámbrico de alta velocidad en todo punto del hotel, fax y fotocopias. El diseño único de sus habitaciones,
               su servicio personalizado y su ambiente familiar son muy apropiados para aquellos ejecutivos solos o con sus familias que, en razón de sus actividades, 
               deban pasar largas temporadas en la ciudad; además, es ideal para unas vacaciones o un fin de semana.</p>
            

            
</div>



{% endblock %}